<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(253, 115, 253);color: rgb(0, 0, 0);">
        <h1>LOGIN EXITOSO!</h1>
        <h2 class="mx-5 my-2">Datos del perfil</h2>
        <h2><i>Bienvenido {{datos.name}}</i></h2>
        <br>
        <h3>Nombre: {{datos.name}}</h3>
        <h3>Telefono: {{datos.phone}}</h3>
        <h3>Avatar: {{datos.avatar}}</h3>


        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>
